.bg-sidemenu {
 width: 400px;
 padding-left: 50px;
 padding-right: 38px;
 padding-top: 30px;
}
#side-menu li a {
  color: white;
}
span.menu-arrow {
  transition: rotate ease-in-out 0.2s;
}
span.menu-arrow.open {
  rotate: 90deg;
}
.cursor {
  cursor: pointer;
}

#side-menu li {
  display: block;
  padding: 7px 0px;
  a {
    color: rgb(255, 255, 255);
    display: block;
    font-size:17px;
    line-height: 24px;
    padding: 8px 0px 8px 8px;
    transition: all 0.2s;
    i {
      padding-right: 1rem;
    }
    &.active,
    &:hover,
    &:active,
    &:focus {
      background-color: #32C6E0;
      // border-radius: 0px 3rem 3rem 0px;
      color: #fff;
    }
  }
}
.nav-background {
  // background-image: url('/assets/images/Artboard 5.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  background-color: #0a0c25;
}
.bg-list{
  background-image: linear-gradient(to top, #151440, #1e245a) !important;
  height: 85vh;
  border-radius: 10px;
  margin-top: 50px;

}
@media screen and (max-width:480px) {
  .bg-sidemenu {
    padding-left: 0px !important;
    width: 100% !important;
    margin-left: 20px !important;
   }
   .bg-list{
    z-index: 100 !important;
  }
}
