.search .mat-form-field-outline{
    background-color: white !important;
    border-color: white !important;
    border-radius: 20px !important;
}
::ng-deep .search .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
    // color: red;
    
}
.btn-bg{
    background-color: #4A4591;
  }
    
  .btn-bg:hover{
    background-color: #4A4591;
  }
    
  .card{
    background-color: #1D2357;
    border-radius: 10px;
  }
  .vl {
    border-left: 1px solid;
    height: 250px;
    padding: auto;
  }
  .custom_color{
    color:#32C6E0 ;
  }
  h4,h6{
    color: #fff;
  }