// #tech-companies-1 thead th {
//     background-color:#30C4DE;
//     color: white;

//   }
//   #tech-companies-1 tbody {
//     background-color: #1B1E51;
//     color: white; 
//   }
.btn-bg{
  background-color: #4A4591;
}
  
.btn-bg:hover{
  background-color: #4A4591;
}
  
.card{
  background-color: #1D2357;
  border-radius: 10px;
}
.vl {
  border-left: 1px solid;
  height: 250px;
  padding: auto;
}
.custom_color{
  color:#32C6E0 ;
}
h4,h6{
  color: #fff;
}
