::ng-deep .mat-dialog-container{
	background: linear-gradient(to top, #151440, #1e245a) !important;
}
.button{
  background-color: #29BEDB;
  color: #fff;
}
.button,.button:hover{
  background-color: #29BEDB;
  color: #fff;
  border-radius: 10px;
}