<div class="row">
    <div class="col-md-8 align-items-center">
    </div>
    <div class="col-md-4 text-right align-items-top">
        <button mat-ripple (click)="close()" class="btn btn-danger text-white btn-xs float-end" type="button"><i
                class="mdi mdi-close"></i></button>
    </div>
</div>

<div class="row mb-lg-3 mb-md-3 mb-3">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <h1 class="fw-bold text-center mb-3 text-light font-weight-normal">Change Password</h1>
        <form action="#" [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <mat-label>Email</mat-label>
                <mat-form-field class="w-100">
                    <input matInput formControlName="email" type="text" readonly/>
                </mat-form-field>
                <vmessage field="email" [control]="form.controls['email']">
                </vmessage>
            </div>
            <div>
                <mat-label>Old Password</mat-label>
                <mat-form-field class="w-100">
                    <input matInput formControlName="oldPassword" [type]="showOldPassword ? 'text' : 'password'"
                        placeholder="Enter Your Password" />
                    <mat-icon class="text-light" matSuffix (click)="showOldPassword = !showOldPassword">{{
                        showOldPassword ? "visibility" : "visibility_off"
                        }}</mat-icon>
                </mat-form-field>
                <vmessage field="oldPassword" [control]="form.controls['oldPassword']">
                </vmessage>
            </div>
            <div>
                <mat-label>New Password</mat-label>
                <mat-form-field class="w-100">
                    <input matInput formControlName="newPassword" [type]="showNewPassword ? 'text' : 'password'"
                        placeholder="Enter Your Password" />
                    <mat-icon class="text-light" matSuffix (click)="showNewPassword = !showNewPassword">{{
                        showNewPassword ? "visibility" : "visibility_off"
                        }}</mat-icon>
                </mat-form-field>
                <vmessage field="newPassword" [control]="form.controls['newPassword']">
                </vmessage>
            </div>
            <div>
                <mat-label>Confirm Password</mat-label>
                <mat-form-field class="w-100">
                    <input matInput formControlName="confirmPassword" [type]="showPassword ? 'text' : 'password'"
                        placeholder="Enter Your Password" />
                    <mat-icon class="text-light" matSuffix (click)="showPassword = !showPassword">{{
                        showPassword ? "visibility" : "visibility_off"
                        }}</mat-icon>
                </mat-form-field>
                <vmessage field="confirmPassword" [control]="form.controls['confirmPassword']">
                </vmessage>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <button class="btn button w-100" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>