<div class="row">
  <div class="col-12">
    <div class=" bg-transparent">
      <div class="card-body px-2">
        <div class="responsive-table-plugin">
          <div class="table-rep-plugin">
            <div class="table-responsive" data-pattern="priority-columns">
              <table class="table custom_table mb-0">
                <thead>
                  <tr>
                    <th>Job#</th>
                    <th>Client</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data">
                    <td>{{ item.job_no }}</td>
                    <td>{{ item.client }}</td>
                    <td>{{ item.job_name }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.end_date }}</td>

                    <td class="custom_width">
                      <button *ngIf="ps.havePerm(['jobs','create'])"
                        class="btn btn-warning btn-xs ms-md-0 ms-lg-1 custom_button warning_gradient"
                        routerLink="edit/{{ item._id }}" [queryParams]="params">
                        <i class="fas fa-pen"> </i>
                        Edit
                      </button>
                      <button *ngIf="ps.havePerm(['jobs','create'])" (click)="deletejob(item._id)"
                        class="btn btn-danger btn-xs ms-1 custom_button danger_gradient">
                        <i class="fe-trash-2 text-white"></i>
                        Delete
                      </button>
                      <button *ngIf="ps.havePerm(['jobs','viewButton'])"
                        class="btn btn-warning btn-xs ms-md-0 ms-lg-1 custom_button warning_gradient"
                        routerLink="preview/{{ item._id }}">
                        <i class="fe-eye"> View</i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row custom_row m-0">
          <div class="col-md-4 col-8 ps-md-4">
            <button *ngIf="ps.havePerm(['jobs','create'])"
              class="btn btn-bg btn-xs ms-md-0 ms-lg-1 tertiary_gradient custom_button"
              [routerLink]="['new', nextJobNumber]">
              <i class="fe-plus"> </i> Add New Job
            </button>
          </div>
          <div class="col-md-2 col-4">
            <h4 class="fw-bold">Total : {{totalRecords}}</h4>
          </div>
          <div class="col-md-6 col-12">
            <pagination-control [pager]="pager" [params]="params"></pagination-control>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading></app-loading>