.profile-Image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.bg-image-custom {
  // justify-content: center;
  // align-items: center;
  // margin-right: 2px;
  // width: 100%;
  // height: 100%;
  // background-image: url("../../../assets/images/download.png");
  // background-repeat: no-repeat;
}
// .container-fluid {
//   margin-top: 100px;
//   padding: 10px;
// }
.card {
  background-color: #1a1d4f !important;
  border-radius: 10px;
}
mat-label {
  color: #fff;
}
.container-cust{
  padding:0px 15px 15px 12px ;
 
 
}

