:host {
	display:block;
	position: relative;
}
.clearFilter {
	position: absolute;
	right: 45px !important;
	z-index: 999 !important;
	cursor: pointer;
	top: 15px;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-flex {
	padding: 0px !important;
}
::ng-deep.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate{
    background: #000 !important;
	color: #000 !important;
}
#mat-option { 
	color: #000 !important;
}
::ng-deep .mat-select-arrow{
	color:white
}
